<br>

<div class="row">
    <div class="col">
        <div class="col-md"> 
            <div class="card text-center text-white mb-3" id="total-contact-points">
                <div class="card-header">
                    <h5 class="card-title">Number of Contacts</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_contacts }}</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="col-md"> 
            <div class="card text-center text-white mb-3" id="total-contact-points">
                <div class="card-header">
                    <h5 class="card-title">Total Contact Points</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_contact_points }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md"> 
            <div class="card text-center text-white mb-3" id="executed-contact-points">
                <div class="card-header">
                    <h5 class="card-title">Sent</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ sent }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md"> 
            <div class="card text-center text-white mb-3" id="responded-contact-points">
                <div class="card-header">
                    <h5 class="card-title">Responded (need to reply)</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ responded }}</h3>
                </div>
            </div>
        </div>
    </div>

</div>
